
<html>

<head>
    <title>Cleantech Solar</title>
</head>


<style>
    table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 5px solid #dddddd;
  text-align: left;
  padding: 15px;
}

body {
    font-family: 'Times New Roman', Times;
    color: black;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.button {
  background-color: #555555; 
  border: none;
  color: white;
  padding: 30px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

body {background-color: #DCDCDC;}

box {
  background-color: green;
  width: 300px;
  border: 5px solid black;
  padding: 50px; 
}
box2 {
  background-color: red;
  width: 300px;
  border: 5px solid black;
  padding: 50px; 
}
.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}
.button5 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.button:hover {
  background-color: black;
  color: white;
}
.dropbtn {
  padding: 20px;
  font-size: 16px;
  
}
.big{
    font-size: 500%;
}
</style>
<script>
        function myFunction() {
          var x = document.getElementById("id1").value;
          document.getElementById("inp3").value=x;
        }
        function reset_options() {
        document.getElementById('id1').options.length = 0;
        return true;
        }
</script>
{% if val==200 %}
<script>alert('Successfully added Data!')</script>
{% endif %}
{% if val==409 %}
<script>alert('Data with Date already Present!')</script>
{% endif %}
{% if val==500 %}
<script>alert('Failed to add Data!')</script>
{% endif %}
{% if val==501 %}
<script>alert('Failed to add Data as Data with Date not Present!Please Select Add New Data option!')</script>
{% endif %}
{% if val==502 %}
<script>alert('Failed to add Data as Data with Previous Date not Present!Please Select Add New Data option and add Previous data First!')</script>
{% endif %}
<center><h1 class='big'>Cleantech Solar O&M</h1><br><br><br><br><br>
<body onbeforeunload='reset_options()'>
<form action="/somepage" method="post" id="frm1">
    <select id="id1" class='dropbtn' onchange="myFunction()">
            <option disabled selected value> -- select an option -- </option>
            {% for i in stnnames %}
            <option value={{ i }}>{{ i }}</option>
            {% endfor %}
    </select><br><br><br><br>
    
    <input class="button" type="submit" name='action' value='ADD NEW DATA'><br><br><br><br><br>
    <input class="button" type="submit" name='action' value='REPLACE DATA'><br>
    <input type='hidden' id='inp3' name='Station' >
</form>
</body>
</html>